body, html {
    height: 100%;
    margin: 0;
}
.bg-image {
    background-image: url('img/ad2.webp'); /* Replace with your image */
    background-size: cover;
    background-position: center;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form {
    background: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}
.icon{
    width: 40px;
    color: #2415cb;
}
.text{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}